/* Stick Footer Styles */

html {
	position: absolute;
}
body {
	background-color : papayawhip;
	margin-bottom: 90px;
}
.padded {
	padding-top: 30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/*set fixed height of footer here */
	height: 90px;
	padding-top: 75px;
}

/*comment that nodemon should ignore */
/*comment that nodemon should ignore */
/*comment that nodemon should ignore */
